@font-face {
  font-family: 'RetroComputer';
  src: url('../public/fonts/retro_computer.ttf') format('truetype');
}

.App {
  text-align: center;
  font-family: 'RetroComputer', sans-serif;
}

main {
  margin-top: 1vh;
}

body {
  background-image: url('../public/BG_MainOffice_Night2.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  backdrop-filter: blur(8px);
}